.alert {
  background-color: transparent;
  text-align: center;
  padding-bottom: 5px;
  color:#ff8c00;
  font-size: 18px;
}

.success {
  position: relative;
  left: 95px;
  z-index: 1;
  height: 0px;
  background-color: rgba( 255, 255, 255, 0);
  text-align: center;
  margin: 0px;
  color:#ff8c00;
  font-size: 18px;
}

.roginalert {
  position: relative;
  left: 95px;
  z-index: 1;
  height: 0px;
  background-color: rgba( 255, 255, 255, 0);
  text-align: center;
  margin: 0px;
  color:#ff8c00;
  font-size: 18px;
}