.table-contents {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  position: relative;
  h1 {
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
  }
  table,th,td {
    border: 2px #808080 solid;
    width: calc(100vw - 300px);
    text-align: center;
  } 
} 

#topreturn-btn {
  background-color: rgba( 255, 255, 255, 0);
}
  
