.table-contents {
  width: calc(100vw - 300px);
  h1 {
    text-align: center;
  }
  table,th,td {
    border: 2px #808080 solid;
    width: calc(100vw - 300px);
    text-align: center;
    td {
    
    }
    input{
    
    }
    } 
  }  
  
