* {
  box-sizing: border-box;
}



@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&family=Fredoka+One&family=Luckiest+Guy&family=Modak&display=swap');

.clock-contents {
    width: calc(100vw - 300px);
    color:#ff8c00;
    font-family: 'Fredoka One', cursive;
    padding-top: 50px;
    text-align: center;
        #RealdayArea{
            padding-top: 30px;
            font-size: 4em;
            position: fixed;
            right: 400px;
            background-color: rgba( 255, 255, 255, 0);
            }
        #RealtimeClockArea {
            font-size: 7em;
            text-align: center;
            padding-top: 118px;
            margin-right: 150px;
        }
        #message-contents {
            width: 100%;
            height: 70px;
            position: relative;
            right: 70px;
            }    
.btn_frame {
    text-align: center;
    font-size: 35px;
    font-family: "YuGothic M";
    width: inherit;
    position: fixed;
    right: 70px; 
    #start-btn {
        display: inline-block;
        text-decoration: none;
        color: #0df;
        width: 160px;
        height: 160px;
        line-height: 160px;
        border-radius: 50%;
        border: solid 2px #0df;
        text-align: center;
        overflow: hidden;
        font-weight: bold;
        transition: .4s;
        background-color: white;
        margin: 0 40px;
        outline:0;
        }
    #start-btn:hover {
        background: #aef;
        }
    #end-btn {
        display: inline-block;
        text-decoration: none;
        color: #0f7;
        width: 150px;
        height: 150px;
        line-height: 150px;
        border-radius: 50%;
        border: solid 2px #0f7;
        text-align: center;
        overflow: hidden;
        font-weight: bold;
        transition: .4s;
        background-color: white;
        margin: 0 50px;
        outline:0;
            }
    #end-btn:hover {
        background: #bfa;
            }
    #timecards-btn {
        display: inline-block;
        text-decoration: none;
        color: #dd0;
        width: 150px;
        height: 150px;
        line-height: 150px;
        border-radius: 50%;
        border: solid 2px #dd0;
        text-align: center;
        overflow: hidden;
        font-weight: bold;
        transition: .4s;
        background-color: white;
        margin: 0 50px;
        outline:0;
        position: relative;
        top: 60px;
        .timecards-btn1 {
            text-decoration: none;
            color: #dd0;
            background-color: white;
        }
    }
    
    #holiday-btn {
        display: inline-block;
        text-decoration: none;
        color: #f09;
        width: 150px;
        height: 150px;
        line-height: 150px;
        border-radius: 50%;
        border: solid 2px #f09;
        text-align: center;
        overflow: hidden;
        font-weight: bold;
        transition: .4s;
        background-color: white;
        margin: 0 50px;
        outline:0;
        position: relative;
        top: 60px;
        .timecards-btn2 {
            text-decoration: none;
            color: #f09;
            background-color:white;
        }
                    }
             
    }        
}

.sign-out {
    float: right;
    border: 3px solid ;
    margin-right: 30px;
    color:#fca;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    padding: 10px;
    margin-top: 15px;
    position: relative;
    background-color: rgba( 255, 255, 255, 0);
  }

.sign-in {
    float: right;
    border: 3px solid ;
    margin-right: 30px;
    color:#fca;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    padding: 8px;
    margin-top: 15px;
    position: relative;
    background-color: rgba( 255, 255, 255, 0);
}

  .user-name {
    padding-left: 130px;
    color:#ff8c00;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-align: unset;
    position: relative;
    bottom: 10px;
    right: 60px;
    background-color: rgba( 255, 255, 255, 0);
  }